.nav {
    grid-area: n;
    background-color: yellowgreen;
}

.item {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.activeLink {
    color: darkgreen;
    text-decoration: none;
}
  