.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "d m"
            "n s";
}

.dialog_items{
    grid-area: d;
    padding: 5px;
}

.dialog_items hr{
    margin: 2px;
}

.sendMessage{
    grid-area: s;
}